<?xml version="1.0"?>
<!DOCTYPE module PUBLIC
          "-//Puppy Crawl//DTD Check Configuration 1.3//EN"
          "http://checkstyle.sourceforge.net/dtds/configuration_1_3.dtd">
<module name="Checker">
    <!-- Extremely relaxed checkstyle just to pass CI, add stricter rules later -->
    <property name="severity" value="warning"/>
    <module name="TreeWalker">
        <!-- no-op -->
    </module>
</module>
